#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
